
body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-size: 230%;
    font-weight: bold;
    }

.bg-body-barra {
    background-color:#222622;
}

.logo-escuela {
    background-color: transparent;
    width: 50%;
    
}

.imagen {

    padding: auto;
    margin: auto;
    border: auto;
    image-rendering: optimizeQuality;
    justify-items: center;
    width: 1500px;
    display: flex;
    position: relative;
}

.texto-encima {
    position: absolute;
    display: flex;
    justify-content: center;             
    align-items: center;                 
    color: white;              
    font-weight: bold;
    text-shadow: rgb(158, 16, 16); /* Mejora la visibilidad */
}